top; configure terminal;

# configuration generated Fri Oct 21 07:56:53 2016; firmware version 281259

%if% available "user"

user "admin"
  summary "Administrator"
  password-hashed "$1$8XiVJ8jq$hA1Ithlar3FdTO5PDMr4w0"
  access-level privileged
exit

%endif%
