top; configure terminal;

# configuration generated Fri Dec 9 12:09:40 2016; firmware version 281259

%if% available "user"

user "admin"
  summary "Administrator"
  password-hashed "$1$12345678$kbapHduhihjieYIUP66Xt/"
  access-level privileged
exit

%endif%
